<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Palakkad Application</display-name>
 <description>Demo Application</description>
 <!-- Define a Security Constraint on this Application  -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>securezone</web-resource-name>
   <url-pattern>/jsp/securezone/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>testrole</role-name>
  </auth-constraint>
 </security-constraint>
 <!-- Define a security constraint that gives unlimted access to freezone -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>freezone</web-resource-name>
   <url-pattern>/jsp/freezone/*</url-pattern>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>images</web-resource-name>
   <url-pattern>/images/*</url-pattern>
  </web-resource-collection>
  <web-resource-collection>
   <web-resource-name>css</web-resource-name>
   <url-pattern>/css/*</url-pattern>
  </web-resource-collection>
 </security-constraint>
 <!-- Define the Login Configuration for this Application -->
 <login-config>
  <auth-method>KEYCLOAK</auth-method>
  <realm-name>ApplicationRealm</realm-name>
  <form-login-config>
   <form-login-page>/jsp/securezone/login.jsp</form-login-page>
   <form-error-page>/jsp/securezone/loginerror.jsp</form-error-page>
  </form-login-config>
 </login-config>
 <!-- Security roles referenced by this web application -->
 <security-role>
  <description>The role that is required to log in to the Application</description>
  <role-name>testrole</role-name>
 </security-role>
</web-app>
